form {
    display: flex;
    flex-direction: column; 
    height: auto; 
    grid-row: inherit;
  }

.section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin: 0 -24px;
}

.section div {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

label {
    font-size: 12px;
}

input[type="text"].address,
input[type="text"].phone,
input[type="text"].initials {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    height: 48px;
    width: 100%;
}

input[type="text"].phone,
input[type="text"].initials {
    width: 100%;
}

input[type="text"]:focus {
    border: 1px solid #222222;
}

textarea.comment {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    width: 100%;
    resize: vertical;
    /* Allow vertical resizing of textarea */
    min-height: 100px;
    /* Set minimum height */
}


textarea.comment:focus {
    border: 1px solid #222222;
}

.enter {
    background-color: #215BF0;
    border-radius: 80px;
    width: 200px;
    height: 48px;
    color: #FFFFFF;
    margin-top: 24px;
    border: none;
    box-shadow: none;
    align-self: flex-end;
}

.enter:hover {
    background-color: #0F41C4;
}

.enter-disabled {
    background-color: #EDEEEF;
    border-radius: 80px;
    width: 200px;
    height: 48px;
    color: #999999;
    margin-top: 24px;
    border: none;
    box-shadow: none;
    align-self: flex-end;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
}