/* to do:
    исправить шрифты;
    исправить отступы внутри полей справа;
    добавить адаптив; */

.container {
    display: grid;
    background-color: #FFFFFF;
    padding: 50px;
    width: 1000px;
    min-width: 320px;
    overflow-x: hidden;
    grid-row: inherit;
}

.section {
    display: flex;
    margin: 0 -24px;
}

.section div {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
}

.container label {
    font-size: 12px;
    margin-bottom: 10px;
}

.container input[name="comment"] {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    height: 112px;
    width: 952px;
}

.container input[name="address"] {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    height: 48px;
    width: 952px;
}

.container input[name="phone"] {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    align-items: center;
    height: 48px;
    width: 448px;
}

.container input[name="initials"] {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    align-items: center;
    height: 48px;
    width: 448px;
}


input[type="text"]:focus {
    border: 1px solid #222222;
}

.enter {
    background-color: #215BF0;
    border-radius: 80px;
    width: 200px;
    height: 48px;
    color: #FFFFFF;
    margin-top: 24px;
    position: sticky;
    left: 77%;
    border: none;
    box-shadow: none;
}

.enter:hover {
    background-color: #0F41C4;
}

.enter-disabled {
    background-color: #EDEEEF;
    border-radius: 80px;
    width: 200px;
    height: 48px;
    color: #999999;
    margin-top: 24px;
    position: sticky;
    left: 77%;
    border: none;
    box-shadow: none;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 8px;
}