.section {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 24px;
    margin-bottom: 10px;
}

.section>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

label {
    font-size: 12px;
}

input[type="text"].phone,
input[type="text"].initials {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    height: 48px;
    resize: vertical;
    width: 522px;
    box-sizing: border-box;
}

input[type="text"].address {
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    height: 48px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

textarea.comment {
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #999999;
    width: 100%;
    resize: vertical;
    min-height: 100px;
}


input[type="text"]:focus,
textarea.comment:focus {
    border: 1px solid #222222;
}

.button-section {
    display: flex;
    flex-direction: column;
}

.enter {
    background-color: #215BF0;
    border-radius: 80px;
    width: 200px;
    height: 48px;
    color: #FFFFFF;
    margin-top: 24px;
    border: none;
    box-shadow: none;
    align-self: flex-end;
}

.enter:hover {
    background-color: #0F41C4;
}

.enter-disabled {
    background-color: #EDEEEF;
    border-radius: 80px;
    width: 200px;
    height: 48px;
    color: #999999;
    margin-top: 24px;
    border: none;
    box-shadow: none;
    align-self: flex-end;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.errorIcon {
    background: no-repeat;
}

input {
    position: relative;
}

img {
    position: absolute;
    right: 0;
    top: 35px;
    padding: 5px 5px;
    transition: 0.3s;
    width: 22px;
    height: 22px;
}

@media (max-width: 1200px) {

    .section {
        display: grid;
        grid-template-columns: auto;
        gap: 18px;
    }

    input[type="text"].phone,
    input[type="text"].initials {
        font-size: 16px;
        font-weight: 400;
        padding: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 4px;
        border: 1px solid #999999;
        height: 48px;
        resize: vertical;
        width: 100%;
        box-sizing: border-box;
    }
}