.radio-label {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 16px;
}

.radio-label.selected {
  color: #215BF0;
}

.radio-label {
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 686px) {
  .radio-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.radio-buttons {
  display: grid;
  grid-template-columns: 1;
}

.map-container {
  position: relative;
  max-width: 952px;
}