.radio-label {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-right: 16px; 
  margin-bottom: 16px;
}

.radio-label.selected {
  color: #215BF0;
}

.radio-label {
  font-size: 16px;
  font-weight: 400;
}

.radio-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.map-container {
  position: relative;
  max-width: 952px;
}