nav {
    display: flex;
    gap: 8px 8px;
}

.active {
    background: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    width: 160px;
    height: 48px;
    color: #215BF0;
    font-size: 16px;
    line-height: 24px;
    border: none;
    box-shadow: none;
}

.non-active {
    background: #EDEEEF;
    border-radius: 5px 5px 0px 0px;
    width: 160px;
    height: 48px;
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    border: none;
    box-shadow: none;
}

.content-container {
    background-color: #FFFFFF;
    padding: 50px;
}
